
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
} 
/* share style */

/* colour */
 .orange{
    color: orange;
 }
 .blue{
    color: #01acfd;
 }
 .skyblue{
    color: #05d4df;
 }
 .purple{
    colour{
        color: #5d58Ef;
    }
 }
 /* Navber */
.header-contain{
    margin: 1rem 8.75rem;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-1st{
    display: flex;
    
}
.nav-2nd>ul{
    display: flex;
    list-style: none;
    gap: 32px ;
    padding: 0 16px;
}
.nav-2nd>ul>li>a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.nav-3rd{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-3rd>button{
    background-color: orange;
    border: none;
    color: white;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 15px;
    font-size: large ;
    font-weight: medium;
}
.three-icons{
    display: none;
    flex-direction: column;
    gap:5px;
    cursor: pointer;
}
.three-icons span{
     width: 25px;
     height: 3px;
     background-color: black;
     border-radius: 5px;
}
@media screen and (max-width:576px) {
    /* Navber */ 
.header-contain{
          margin: 0px;
          border: 2px solid #fea301;
          padding:15px 18px;
          margin-bottom: 1rem;
    
}
    .navber{
        display: flex;
        justify-content: space-between;
    }
    .nav-1st>h1,
    .nav-2nd,
    .nav-3rd{
        display: none;
    }
   .three-icons{
    display: flex;
    align-items: center;
    justify-content: center;
   }
}