
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
} 


/* share style */

/* colour */
 .orange{
    color: orange;
 }
 .blue{
    color: #01acfd;
 }
 .skyblue{
    color: #05d4df;
 }
 .purple{
    colour{
        color: #5d58Ef;
    }
 }
 /* Navber */
.header-contain{
    margin: 1rem 8.75rem;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-1st{
    display: flex;
    
}
.nav-2nd>ul{
    display: flex;
    list-style: none;
    gap: 32px ;
    padding: 0 16px;
}
.nav-2nd>ul>li>a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.nav-3rd{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-3rd>button{
    background-color: orange;
    border: none;
    color: white;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 15px;
    font-size: large ;
    font-weight: medium;
}
.three-icons{
    display: none;
    /* flex-direction: column;
    gap:5px;
    cursor: pointer; */
} 
/* .three-icons span{
     width: 25px;
     height: 3px;
     background-color: black;
     border-radius: 5px;
} */
.custom-marquee{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  
}
.display_non{
    display:none;
}
/* banner style */



.banner-section {
    margin: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.banner-1st>h1 {
    font-size: 2.75rem;
    margin-bottom: 1rem;
}

.banner-1st>p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.banner-1st>button {
    background-color: black;
    color: white;
    margin-top: 0.5rem;
    border: none;
    border-radius: 10px;
    height: 3rem;
    width: 12rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}
/* curriculum */
.curriculum-section {
    background-image: url("../assets/bg.png");
    padding: 2rem 5rem;
}

.curriculum-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculum-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    gap: 30px;
}

.box1 {
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#DEF5FF, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 40px;
    border-radius: 20px;
    text-align: center;
}

.box2 {
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#FFF4DC, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 40px;
    border-radius: 20px;
    text-align: center;
}

.box3 {
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#F2E8FF, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 40px;
    border-radius: 20px;
    text-align: center;
}

#b1 {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.arr {
    /* position: relative; */
    background-color: #FEA301;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.scroll {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 10px;
    cursor: pointer;
}

.arr div {
    position: absolute;
    height: 10px;
    width: 10px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(45deg);
    left: 14px;
    top: 16px;
}

.right {
    transform: rotate(90deg);
}

.left {
    transform: rotate(-90deg);
}
/* Our Stories Section */
.stories-section {
    background-image: url("../assets/bg.png"), linear-gradient(to bottom, #ffffff, #FFF4DC);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 5rem;
}

.stories-section h1 {
    display: flex;
    justify-content: center;
}

.stories-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stories-container img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.s-left {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.s-left img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.s-left button {
    margin: 10px auto;
    padding: 0px 10px;
    border-radius: 40px;
    border: none;
    background-color: #05D4DF;
    height: 50px;
    width: 180px;
    color: white;
    font-weight: medium;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: -33px;
    
    left: -140px;
    
    z-index: 1;
}

.s-left .desc {
    padding: 20px;
    padding-top: 0px;
}

.s-left .desc p,
.s-left .desc h3 {
    margin: 10px 0;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

.s-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.s2 {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.s2 img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.s2 button {
    margin: 0px auto;
    padding: 10px 10px;
    border-radius: 40px;
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    font-weight: medium;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    top: -30px;
    
    left: -30px;
    z-index: 1;
}

.s2 h4 {
    margin: 30px 20px;
    margin-top: 0px;
}

#btn1 {
    background-color: #95B226;
}

#btn2 {
    background-color: #5D58F0;
}

#btn3 {
    background-color: #95B226;
}

#btn4 {
    background-color: #95B226;
}

.view-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#view-btn {
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 3rem;
    width: 12rem;
    font-size: 20px;
    font-weight: medium;
    cursor: pointer;
}
.Keducation{
    margin-left: 60px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #01ACFD;
    padding: 60px 60px;
  }
  
  .footer-right {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 100px;
  
  }
  .footer-mid {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-mid ul {
    padding-left: 0px;
    padding-right: 40px;
  }
  
  .footer-mid ul li {
    list-style: none;
    margin-top: 10px;
  }
  
  .footer-mid ul li a {
    text-decoration: none;
    color: white;
  }
  


@media screen and (max-width:576px) {
    /* Navber */ 
.header-contain{
          margin: 0px;
          border-bottom: 2px solid #fea301;
          padding: 20px 20px;
          margin-bottom: 1rem;
   
}
    .navber{
        display: flex;
        justify-content: space-between;
    }
    .nav-1st>h1,
    .nav-2nd,
    .nav-3rd{
        display: none;
    }
   .three-icons{
    display: flex;
    width: 30px;
    height: 30px;
   } 
.custom-marquee
   {
        display: none;
   }
   /* banner style */
   

    .banner-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 1rem 0rem;
        text-align: center;
    }

    .banner-2nd img {
        width: 340px;
    }

    .banner-1st>h1 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .banner-1st>p {
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
      /* curriculum */
      .curriculum-section {
        padding: 2rem 1rem;
    }

    .curriculum-box {
       display: grid;
       grid-template-columns: repeat(1,1fr);

    }

    .scroll {
        display: none;
    }
    .stories-section {
        padding: 0rem 0rem;
    }

    .stories-container .s-left {
       display: none;
    }

    .stories-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .s-right {
        gap: 10px;
        margin: 1rem 1rem;
    }

    .stories-container .s-right .s2 button {
        padding: 5px;
        font-size: 10px;
    }

    .s2 h4 {
        padding: 0px 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 10px;
    }

    .s2 button {
        padding: 5px 5px;
        height: 30px;
        width: 110px;
        position: relative;
        top: -14px;
        left: -20px;
    }


    #view-btn {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 15px;
      }
      .footer-mid {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .Keducation{
        margin-left: 0px;
      }
      .Empowering{
        align-items: center;
        margin-left: 30px;
      }
      .footer-right{
        margin-left: 0px;
      }
      .with-the{
        padding-left: 30px;
      }
      .footer-right{
        margin-bottom: 200px;
      }
      
      }

