
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
} 
/* share style */
.display-flex{
    display: flex;
}
.bt-primary{
    background-color: #FEA301;
    color: white;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
}
/* colour */
 .orange{
    color: orange;
 }
 .blue{
    color: blue;
 }
 .skyblue{
    color: skyblue;
 }
 .purple{
    colour{
        color: purple;
    }
 }
/* nav style */
.nav1{
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.list{
    gap: 30px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
}
/* body */
.body{
    margin-left: 140px;
    margin-right: 140px;
}
.title{
    font-weight: bold;
    font-size: 56px;
   
}
            
.banner-content{
    max-width: 640px;
    margin: 0 auto; 
    margin-bottom: 20px;
    margin-top: 122px;
    font-weight: 30px;
}
.bt2{
    background-color: #000000;
    color: white;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
}