
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
} 


/* share style */

/* colour */
 .orange{
    color: orange;
 }
 .blue{
    color: #01acfd;
 }
 .skyblue{
    color: #05d4df;
 }
 .purple{
    colour{
        color: #5d58Ef;
    }
 }
 /* Navber */
.header-contain{
    margin: 1rem 8.75rem;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-1st{
    display: flex;
    
}
.nav-2nd>ul{
    display: flex;
    list-style: none;
    gap: 32px ;
    padding: 0 16px;
}
.nav-2nd>ul>li>a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.nav-3rd{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-3rd>button{
    background-color: orange;
    border: none;
    color: white;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 15px;
    font-size: large ;
    font-weight: medium;
}
.three-icons{
    display: none;
    /* flex-direction: column;
    gap:5px;
    cursor: pointer; */
} 
/* .three-icons span{
     width: 25px;
     height: 3px;
     background-color: black;
     border-radius: 5px;
} */
.custom-marquee{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  
}
/* banner style */



.banner-section {
    margin: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.banner-1st>h1 {
    font-size: 2.75rem;
    margin-bottom: 1rem;
}

.banner-1st>p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.banner-1st>button {
    background-color: black;
    color: white;
    margin-top: 0.5rem;
    border: none;
    border-radius: 10px;
    height: 3rem;
    width: 12rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (max-width:576px) {
    /* Navber */ 
.header-contain{
          margin: 0px;
          border-bottom: 2px solid #fea301;
          padding: 20px 20px;
          margin-bottom: 1rem;
   
}
    .navber{
        display: flex;
        justify-content: space-between;
    }
    .nav-1st>h1,
    .nav-2nd,
    .nav-3rd{
        display: none;
    }
   .three-icons{
    display: flex;
    width: 30px;
    height: 30px;
   } 
.custom-marquee
   {
        display: none;
   }
   /* banner style */
   

    .banner-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 1rem 0rem;
        text-align: center;
    }

    .banner-2nd img {
        width: 340px;
    }

    .banner-1st>h1 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .banner-1st>p {
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


}